body {
  padding-top: 54px;
  font-family: 'Signika', sans-serif;
  -webkit-text-size-adjust: auto; 
}



  
nav {
  margin: auto 100;
  padding-bottom: 3.5rem;
}

.navbar {
  border: 0;
  font-size: 20px;
  transition: all 0.4s;
  padding: 0;
  background: black;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  height: 57px;

}
.nav-item, .nav-link {
  line-height: 1.6;
  margin: 15px 3px;
  padding: 10px 15px;
  opacity: .8;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.navbar-header {
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

.elDelMedio{
  text-align: center;
  padding-top: 50px;
}
.list-item-chevere{
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;

}

/*Carousel*/
.carousel-item{
  height: 550px;
  padding-top: 50px;
  text-align: center;
}

.i1{
  background-image: url("https://images.pexels.com/photos/96380/pexels-photo-96380.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-size: cover;
}
.i2{
  background-image: url("https://images.pexels.com/photos/63703/pexels-photo-63703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-size: cover;

}

.i3{
  background-image: url("https://images.pexels.com/photos/761543/pexels-photo-761543.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-size: cover;
}

.imgCar{
  height: 550px;
}

.content-carousel{
  background-color: rgba(255, 255, 255, 0.16);
  padding: 2rem;
  border-radius: 0.8rem;
  width: 60%;
  margin: auto;
  display: flex;
  text-align: center;
  padding: 2rem 1.2rem 0;
  flex-direction: column;
  justify-content: center;
  
}

* {
  box-sizing: border-box;
}

/*Search*/

.container-search{
  padding-top: 40px;
  text-align: center;
}
.playlistsList{
  padding-right: 0px !important;
  max-height: 400px;
  overflow-y: auto;
  width: 500px;
}

.playlistsList::-webkit-scrollbar{
  width: 5px;
  max-height: 100px;
}


.playlistsList::-webkit-scrollbar-thumb {
  background: #888; 
}

.songsList{
  padding-left: 0px !important;
  max-height: 200px;
  overflow-y: auto;
}

.songsList::-webkit-scrollbar{
  width: 5px;
}

.songsList::-webkit-scrollbar-thumb {
  background: #888; 
}

.albumImg{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.playListContainer{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: thin solid #f2f2f2;
  max-width: 100%;
  cursor: pointer;
}

.playListContainer:hover{
  background-color: #f4f5f5 !important;
}

.songCont{
  padding-left: 10px;
}

.login{
  cursor: pointer;
}

.elNav{
  margin-bottom: 20px;
}

.pl{
  opacity: 1;
}

.pl:hover{
  color: white;
}
.playName{
  font-size: 13px;
}

.card{
  width: 30rem;
}

.card2{
  width: 40rem;
}
.imgDiv{
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
.crd-img{
  width: 300px;
  
}
.card-header{
  text-align: center;
}

.infobox {
 
  border-spacing: 3px;
  background-color: #f8f9fa;
  color: black;
  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;
  float: right;
  clear: right;
  font-size: 88%;
  line-height: 1.5em;
  width: 30em;

}
.thChevere{
  text-align: center;
  background-color:#888;
}
.elBody{
  text-align: center;
}
.songDet{
  text-align: center;
  padding-top: 50px;
}

/*Comments*/

input, textarea {
  outline: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  color: #555f77;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ced2db;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ced2db;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ced2db;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ced2db;
}

p {
  line-height: 1.3125rem;
}

.comments {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  width: 500px;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block2 {
  padding: 1rem;
  background-color: #fff;
  display: 200px;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
}
.comment-block textarea {
  width: 100%;
  resize: none;
  text-align: justify;
}

.comment-text {
  margin-bottom: 1.25rem;
  text-align: justify;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comment-actions li:hover {
  color: #0095ff;
}

.losComentarios{
  max-height: 400px;
 overflow-y: auto;

}