body {
  padding-top: 54px;
  font-family: 'Signika', sans-serif;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

  
nav {
  margin: auto 100;
  padding-bottom: 3.5rem;
}

.navbar {
  border: 0;
  font-size: 20px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  padding: 0;
  background: black;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  height: 57px;

}
.nav-item, .nav-link {
  line-height: 1.6;
  margin: 15px 3px;
  padding: 10px 15px;
  opacity: .8;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.navbar-header {
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

.elDelMedio{
  text-align: center;
  padding-top: 50px;
}

.carousel-item{
  height: 550px;
}
.imgCar{
  height: 550px;
}
